@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root {
    font-family: "Kumbh Sans", sans-serif;;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background-color: hsl(185, 75%, 39%);
}

.container {
    position: relative;
}

/***********/
/*** BG ***/
/*********/

.card-bg {
    position: absolute;
}

.top-pattern {
    float: left;
    transform: translate(-300px, -500px);
}

.bottom-pattern {
    float: right;
    transform: translate(300px, -700px);
}

@media screen and (max-width:375px) {
    .top-pattern {
        float: left;
        transform: translate(-700px, -600px);
    }
    
    .bottom-pattern {
        float: right;
        transform: translate(200px, -600px);
    }
}

/*************/
/*** CARD ***/
/***********/

.card-body {
    position: relative;
    background-color: #ffffff;
    width: 350px;
    height: 380px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-header {
    background-image: url("../images/bg-pattern-card.svg");
    background-size: cover;
    width: 350px;
    height: 150px;
    border-radius: 15px 15px 0 0;
}

/******************/
/*** USER ICON ***/
/****************/

.user-icon {
    position: absolute;
    transform: translate(115%, -50%);
    background-color: #ffffff;
    border-radius: 50%;
    padding: 5px;
    padding-bottom: 1px;
}
.user-icon img {
    border-radius: 50%;
}

/*********************/
/*** CARD CONTENT ***/
/*******************/

h4 {
    margin-bottom: 4px;
}

.card-content {
    top: 100%;
    transform: translateY(50%);
}

.user-name {
    text-align: center;
}

.user-name h4 {
    padding-top: 7px;
}

.user-age {
    font-weight: 500;
    color: hsl(0, 0%, 59%);
    margin-left: 5px;
}

.user-location {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 40px;
}

.user-stats {
    top:100%;
    transform: translateY(-300%);
    text-align: center;
    border-top: 2px solid hsla(227, 10%, 46%, 0.25);
}

.stats-column {
    float: left;
    width: 33.33%;
}

.stats-details {
    font-size: 10px;
    color: hsl(0, 0%, 59%);
    margin-top: 0;
    letter-spacing: 1.5px;
}